CompileFlags:
  Add:
    - /std:c++20
    - /MTd
    - /nologo
    - /GR-
    - /EHs-
    - /EHc-
    - /Od
    - /Oi
    - /W4
    - /FC
    - /Z7
    - /Zc:preprocessor
    - /DUNICODE
    - /D_UNICODE
    - /DMONO_DEBUG_TMP=1
    - /DMONO_DEBUG_VIS=1
    - /DMONO_DEBUG_BUILD=1
    - /Iinclude
    - /clang:-fdiagnostics-show-option
    - /clang:-Wno-microsoft-goto

Index:
  Background: Build

InlayHints:
  Enabled: No

Diagnostics:
  Suppress:
    - unused-includes

Completion:
  HeaderInsertion: Never
